<!DOCTYPE html>
<html>
  <head>
    <title>Subitizing   </title>
    <script type="text/javascript" src="{{ url_for('static', filename='jspsych-6.0.4/jspsych.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jspsych-6.0.4/plugins/jspsych-html-keyboard-response.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jspsych-6.0.4/plugins/jspsych-image-keyboard-response.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jspsych-6.0.4/plugins/jspsych-image-slider-response.js') }}"></script>
    <link href={{ url_for('static', filename='jspsych-6.0.4/css/jspsych.css') }} rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  </head>
  <body></body>
  <script>

    /* create timeline */
    var timeline = [];

    var returndata;

    /* define welcome message trial */
    var welcome = {
      type: "html-keyboard-response",
      stimulus: "Welcome to the experiment. Press any key to begin."
    };
    timeline.push(welcome);

    /* define instructions trial */
    var instructions = {
      type: "html-keyboard-response",
      stimulus: "<p>In this experiment, a circle will appear in the center " +
          "of the screen.</p><p>If the circle is <strong>blue</strong>, " +
          "press the letter F on the keyboard as fast as you can.</p>" +
          "<p>If the circle is <strong>orange</strong>, press the letter J " +
          "as fast as you can.</p>" +
          "<div style='width: 700px;'>"+
          "<div style='float: left;'><img src={{ url_for('static', filename='img/blue.png') }}></img>" +
          "<p class='small'><strong>Press the F key</strong></p></div>" +
          "<div class='float: right;'><img src={{ url_for('static', filename='img/orange.png') }}></img>" +
          "<p class='small'><strong>Press the J key</strong></p></div>" +
          "</div>"+
          "<p>Press any key to begin.</p>",
      post_trial_gap: 2000
    };
    timeline.push(instructions);

    var correct_answers;
    var test_stimuli = [];
    var images = [];

    function define_stimuli(result2){
      /*var i = 0;
      for (i = 0; i < result2.length(); i++) {
        test_stimuli.push({ stimulus: "{{ url_for('static', filename='img/subitizing/.png') }}", data: { test_part: 'test', correct_response: result2['0'] } })
      }*/
      images.push("{{ url_for('static', filename='CODE') }}".replace("CODE",result2[0]['loc']))
      test_stimuli = [
      { stimulus: "{{ url_for('static', filename='CODE') }}".replace("CODE",result2[0]['loc']), data: { test_part: 'test', correct_response: result2[0]['0'] } }
      ];
      console.log(test_stimuli);
      return test_stimuli;
    };

    function assign_stimuli(result3){
      var test_procedure = {
        timeline: [fixation, test],
        timeline_variables: test_stimuli,
        repetitions: 1,
        randomize_order: true
      }
      timeline.push(test_procedure);
      return('resolved')
    }

    $.get("/generate_images")
    .then(result => $.parseJSON(result))
    .then(result2 => define_stimuli(result2))
    .then(result3 => assign_stimuli(result3))
    .then(result4 => debrief(result4))
    .then(result5 => init(result5))

    var fixation = {
      type: 'html-keyboard-response',
      stimulus: '<div style="font-size:60px;">+</div>',
      choices: jsPsych.NO_KEYS,
      trial_duration: function(){
        return jsPsych.randomization.sampleWithoutReplacement([750, 1000, 1250], 1)[0];
      },
      data: {test_part: 'fixation'}
    }

    var test = {
      type: "image-keyboard-response",
      stimulus: jsPsych.timelineVariable('stimulus'),
      choices: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
      stimulus_duration: 200,
      trial_duration: 2000,
      response_ends_trial: false,
      data: jsPsych.timelineVariable('data'),
      on_finish: function(data){
        data.correct = data.key_press == jsPsych.pluginAPI.convertKeyCharacterToKeyCode(data.correct_response);
      },
    }

    //var test_procedure = {
    //  timeline: [fixation, test],
    //  timeline_variables: test_stimuli,
    //  repetitions: 1,
    //  randomize_order: true
    //}
    //console.log(test_procedure)
    //timeline.push(test_procedure);

    /* define debrief */
    function debrief(result4) {
      var debrief_block = {
        type: "html-keyboard-response",
        stimulus: function() {

          var trials = jsPsych.data.get().filter({test_part: 'test'});
          var correct_trials = trials.filter({correct: true});
          var accuracy = Math.round(correct_trials.count() / trials.count() * 100);
          var rt = Math.round(correct_trials.select('rt').mean());
          returndata = accuracy;
          return "<p>You responded correctly on "+accuracy+"% of the trials.</p>"+
          "<p>Your average response time was "+rt+"ms.</p>"+
          "<p>Press any key to complete the experiment. Thank you!</p>";

        }
      };
      timeline.push(debrief_block);
      return("resolved")
    }

    /* start the experiment */
    function init(result5){
      jsPsych.init({
      timeline: timeline,
      preload_images: images,
      on_finish: function() {

        $.post( "/postmethod", { javascript_data: returndata, test_name: 'Subitizing' }, function(data) {
          window.location.href="/";
        });
      }
    });
    }
  </script>
</html>